.header {
  background-color: $brown;
  width: 100%;
  text-transform: uppercase;
  position: relative;

  .highlight {
    color: $orange;
  }

  @media (min-width: $medium) {
    padding: 1px rem(82px);
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: rem(12px) rem(24px);

    @media (min-width: $medium) {
      align-items: center;
    }

    a {
      color: $white;
      font-weight: bold;
      font-family: $special-font-stack;
      letter-spacing: rem(1px);

      &:not(:first-of-type) {
        display: none;
      }

      @media (min-width: $medium) {
        @include fontSize(11px);
        margin-right: rem(14px);

        &:not(:first-of-type) {
          display: block;
        }

        &:last-child {
          margin-left: auto;
        }
      }
    }
  }

  &__link-image {
    max-height: rem(40px);

    &--logo {
      position: relative;
      top: rem(4px);
      width: rem(170px);
    }
  }
}
